ul {
  padding: 0 0 0 10px;
  li {
    list-style-type: none;
    margin-bottom: 5px;
    color: #555;
  }
}

.feed {
  padding: 5px;
  float: left;
}
.feeds {
  padding: 3px 10px;
}
.feeds:after {
  content: " ";
  display: block;
  clear: both;
}
.additional {
  padding-top: 10px;
}
.additional ul {
  float: left;
  padding: 10px;
}
.additional ul li {
  padding: 3px;
}
.additional:after {
  content: " ";
  display: block;
  clear: both;
}
.datamanual svg {
  width: 1.25em;

  path {
    fill: $linkColor;
  }
}

.feedlist {
  clear: both;
}

.parttable {
  text-align: center;
  width: 100%;

  td {
    text-align: center;
    padding: 10px;
    width: 33%;
  }
}

a.button {
  padding: 8px;
  border: 1px solid #555;
  background: $linkColor;
  color: #fff;
  box-shadow: 2px 2px 2px #333;
}
.partslist, .targets {
  float: left;
  margin: 0;
  //width: 50%;
  text-align:center;
  min-width: 300px;
}
.targets {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  .subtitle {
    text-align: left;
  }
  .value {
    position: relative;
    margin-bottom: 20px;
    .num, .tape {
      float: left;
    }
    .optimum {
      position: absolute;
      left: 0;
      border-right: 2px solid #555;
      padding: 5px 0;
      background: transparent;
    }
    &:after {
      display: block;
      content: "";
      clear:both;
    }
  }
}
.hid {
  display: none;
}
.tape {
  background: red;
  height: 10px;
  margin: 5px;
}
.datadisplay {
  margin: 2em 0;
}
